/* filepath: /D:/VSCode_Projects/myWebsite/static/customized.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* General Styles */
body {
  background: none;
  background-color: #000000;
  overflow: hidden; /* Prevent scrolling */
}

/* Navbar Styles */
.navbar {
  border-bottom: 2px solid #ccc; /* Adjust the color and thickness as needed */
}

/* Centered container class */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height */
}

/* Brand Styles */
.custom-brand {
  position: absolute;
  left: 15%; /* Adjust the value as needed */
}

/* Navigation Container Styles */
.custom-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Main Content Styles */
.main-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#three-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Keep it in the background */
}

.typing-animation {
  font-family: monospace;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em  solid white;
  width: 16ch;
  animation: typing 3s steps(28, end), blink-caret 0.75s step-end infinite;
  line-height: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.centered_text_box {
  margin-top: 15%;
  margin-bottom: 20px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  color: azure;
  background-color: rgba(0, 0, 0, 0.5); /* Opaque/see-through black */
  font-size: 1.1em;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card-slide {
  0% {
    transform: translateX(100%) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes card-jiggle {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(5px) rotate(5deg);
  }
  50% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.card-slide {
  animation: card-slide 1s ease-out, card-jiggle 0.5s linear 1s; /* Play card-jiggle after card-slide */
}

.slide-up {
  animation: slide 1s ease;
}

.fade-in {
  animation: fade-in 1s ease;
}

.business-card {
  text-align: center; 
  margin-top: 2em; 
  margin-bottom: 2em; 
  padding: 1em; 
  border: 1px solid black; 
  border-radius: 1em; 
  background-color: #f0f0f0;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 40vh;
  margin-top: 10vh;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -300px;
  }
}

.item {
  width: 16vw;
  height: 20vh;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.carousel:hover .item {
  animation-play-state: paused;
}

.item img {
  height: 40vh; /* Scale to 10% of viewport height */
  width: auto; /* Maintain aspect ratio */
}

.item1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

@media (max-width: 991.98px) {
  .navbar-collapse.show .navbar-brand {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      width: 100%; /* Ensure it spans the width */
      text-align: center; /* Center the text */
  }

  .navbar-collapse.show .navbar-brand img {
      margin-right: 0; /* Remove the right margin from the image */
  }
}