{% extends "layout.html" %}

{% block title %}Freeeee Bobaaaa!!!{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 70vh;">
    <div class="container centered_text_box fade-in">
        <h1>Free drinks!!!</h1>
        <hr>
        <p style="font-size: 20px">Looking to shape up your skills, maybe learn something new, and get a drink for free in the process? Come
            to our first meeting! We'll be going through an onboarding where you'll all get to learn about the opportunities we offer (just
            like this one!) and receive your first assignment! A personal website. Don't fret if you don't know how to code, not only
            are we here to help, but we also have a workshop/tutorial online for you guys to walk through. We look forward to seeing
            you all there!
        </p>
    </div>
</div>
{% endblock %}