{% extends "layout.html" %}

{% block title %}Hack Club Events{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: top; margin-top: 5vh; color: white;">
    <h1>Events</h1>
</div>
<div class="wrapper carousel">
    <div class="item item1"><img src="/static/NA.png"/></div>
    <div class="item item2"><img src="/static/NA.png"/></div>
    <div class="item item3"><img src="/static/boba.png"/></div>
    <div class="item item4"><img src="/static/NA.png"/></div>
    <div class="item item5"><img src="/static/NA.png"/></div>
</div>
{% endblock %}