{% extends "layout.html" %}

{% block title %}Club Resources{% endblock %}

{% block content %}
<div class="container" style="text-align: center; margin-top: 5%; margin-bottom: 20px; padding: 20px; border: 1px solid #ccc; border-radius: 20px; color:azure;">
    <h1>Club resources</h1>
    <hr>
    <h2>Hack Club phone line</h2>
    <p>1+ (INSERT LINE HERE)</p>
    <h2>Club email</h2>
    <p>(INSERT EMAIL HERE)</p>
    <hr>
    <h1>Meeting Briefs</h1>
    <!--The following area is reserved for the implementation of a rotating carousel that displays past meetings and overviews-->
</div>
{% endblock %}